body {
    font-family: Arial, sans-serif;
    background-color: #e2ece6;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Adjust the z-index as needed to ensure the banner appears above other content */
    text-align: center;
    background-color: white; /* Add this line to set the background color */
}

.banner img {
    width: 100%;
    max-width: 1000px; /* Adjust the maximum width as needed */
    height: auto;
}


.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-container h2 {
    margin-bottom: 40px;
}

.register-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 90px;
}

.form-group {
    margin-bottom: 20px; /* Increase the bottom margin */
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"], 
input[type="confirm_password"]{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #6aa06f;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #9ec0a1;
}

p {
    margin-top: 15px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 120px;
    background-color: #2f556e;
    justify-content: center;
    padding-top: 20px; /* Add padding to the top to account for the fixed banner */
    margin-top: 900px;
    padding-right: 10px;
    padding-left: 80px;
    
    
}

.product {
    width: 70%; /* Set width for each product */
    border: 10px solid #afceb4; /* Add border for visual separation */
    padding: 20px; /* Add padding */
    text-align: center; /* Center the content */
    box-sizing: border-box; /* Include padding and border in the width */
    background-color: #eef2ef; /* Set background color inside the border */
    border-radius: 10px; /* Round the border */
}

.product-image {
    width: 100%; /* Make the image fill its container */
    height: auto; /* Maintain aspect ratio */
    max-height: 200px; /* Limit the maximum height */
}

.add-to-cart {
    margin-top: 10px; /* Add spacing below the image */
}

.back-to-products-link {
    display: inline-block;
    padding: 5px 10px;
    background-color: #6aa06f;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-bottom: 10px;
}

.back-to-products-link:hover {
    background-color: #9ec0a1;
}

.view-cart-link {
    display: inline-block;
    padding: 3px 7px;
    background-color: #6aa06f;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;

}

.view-cart-link:hover {
    background-color: #9ec0a1;
}

.profile-link {
    display: inline-block;
    padding: 3px 7px;
    background-color: #6aa06f;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;

}

.profile-link:hover {
    background-color: #9ec0a1;
}

.cart-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Display two items per row */
    gap: 20px; /* Add gap between items */
}

.cart-item {
    border: 10px solid #506b55; /* Add border for visual separation */
    border-radius: 10px; /* Round the border */
    padding: 20px; /* Add padding */
    background-color: #ffffff; /* Set background color inside the border */
    margin-top: 0; /* Add margin between items */
    display: flex;
    justify-content: space-between; 
    text-align: center;
    align-items: center; 
}
.item-details {
    flex-grow: 1; /* Grow to fill the available space */
}

.remove-form {
    margin-left: 20px; /* Add margin to separate the remove button from the text */
}

.container {
    background-color: #e2ece6; /* Added background color to the container */
}

.container h2{
    padding-top: 300px;
    color: rgb(0, 0, 0);
    margin-top: -50px;
    margin-bottom: 45px;
}

.cart-details-container{
    background-color: white;

    margin-top: 20px;
}
.cart-details h3 {
    background-color: white;
    padding: 2px;
    border-bottom: 1px solid #506b55

}

.cart-details p {
    background-color: white;
    
}